/* color palette from https://www.figma.com/file/JFmUjx8XLzAj9A4HUSGuZC/Opportunity-Welcome-Screen?type=design&mode=design&t=g5SSnpWsEIkvyrkw-1 */
:root {
  --schwarz: #323D4A;
  --weiss: white;
  --dunkelgrau: #9AA7B1;
  --hellgrau: #E8EFF4;
  --rot: #eb5e00;
  --rosa: #ffbfab;
  --blau: #0f05a0;
}

/* semantic color variables for this project */
:root {
  --color-background-item: var(--blau);
  --color-background-soft: var(--hellgrau);
  --color-background-footer: var(--weiss);

  --color-border: var(--weiss);
  
  --color-heading-1: var(--schwarz);
  --color-heading-2: var(--dunkelgrau);
  --color-card-date: var(--rot);
  --color-card-text: var(--rosa);

  --section-gap: 160px;
}